/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 ene. 2023, 21:58:39
    Author     : aldav
*/
:root{
    --principal:#212121;
    --secundario :#0097a7;
}

.TituloPrincipal{

    text-align: center;
    font-size: 2.6rem;
    padding: 0.5px;
    color:black;

}


.navegacion-principal {

    display:  flex;
    /*Con esto poder centrar el texto y poderlo esparar el contenido horizotal o verticalmente*/
    justify-content: space-between;
    padding: 1rem;
    height: 40%;




}


.nav-bg {
    /*Ajusta color de la barra*/
   
    /* Ajusta el tamaño de la letra*/
    font-size: 1px;
    /**/
   
}


.lupa{
    padding: 20px;
    color:#ffffff;
    
}


.contenedor {
    

}

.footer {
    text-align: center;
    color:black;

}
.imagen{

    width: 0;

}
.parafo{
    background-color:#414224;
    color:#ffffff;
    padding: 1px;
    border-radius: 15px;

}
